:root {
  --color-primary: #fdae84;
  --color-primary-light: ;
  --color-primary-dark: ;
  --color-secondary: #8bcbc8;
  --color-secondary-light: ;
  --color-secondary-dark: ;
  --color-neutral-beige: #f2f2f2;
  --color-white: #f2f2f2;
  --color-black: #424240;
  --color-dark-gray: #8F918E;

  --font-primary: "Roboto", Arial, sans-serif;
  --font-secondary: "Bitter", Georgia, serif;
}

html {
  font-family: var(--font-primary);
}
