:root {
  --color-primary: #ffbd6f;
  --color-primary-light: #ffd7a9;
  --color-primary-dark: #cc9759;
  --color-secondary: #62deaf;
  --color-secondary-light: #b1efd7;
  --color-secondary-dark: #459b7a;
  --color-neutral-beige: #fafafa;
  --color-white: #fff;
  --color-black: #424240;
  --color-dark-gray: #8F918E;
  --color-light-gray: #e3e3e3;

  --font-primary: "Roboto", Arial, sans-serif;
  --font-secondary: "Bitter", Georgia, serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  font-weight: 100;
  font-family: var(--font-secondary);
}

h2 {
  color: var(--color-dark-gray);
  font-weight: 100;
}

h3 {
  color: var(--color-primary);
  font-family: var(--font-secondary);

}

h4 {
  color: var(--color-dark-gray);
  font-weight: 300;
  font-family: var(--font-secondary);
}

h5 {
  color: var(--color-primary);
  font-weight: 300;
}

h6 {
  color: var(--color-primary);
}

del,
s {
  color: var(--color-secondary);
}

ins,
u {
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
}

b,
strong {
  color: var(--color-dark-gray);
}

mark {
  padding: .25em;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  text-decoration: none;
  color: var(--color-primary-light);
}

dl dt {
  color: var(--color-black);
  font-size: .8232rem;
  line-height: 1.3rem;
}


dl dd {
  color: var(--color-dark-grey);
  font-size: .8232rem;
  line-height: 1.3rem;
}

.grey-bg {
  background-color: var(--color-dark-gray);
}

.neutral-bg {
  background-color: var(--color-neutral-beige);
}

.upper {
  text-transform: uppercase;
}
