.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-white);
  padding: .275em 4em;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;
}

.btn:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  padding: .275em 4em;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;
}

.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

.btn-accent {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;
}

.btn-accent:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-white);
}

.btn-accent-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;
}

.btn-accent-ghost:hover {
  background-color: transparent;
  border-color: var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.build-btn {
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

.build-btn:hover {
  color: var(--color-secondary-dark);
  border-bottom: 2px solid var(--color-secondary-dark);
}

/* clicked button */
.mission-btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-white);
  padding: .275em 4em;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;
}

#mission-check:checked ~ .mission-btn {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
  color: var(--color-white);
}

.mission-abort {
  display: none;
}

#mission-check:checked ~ .mission-btn .mission-abort {
  display: inline;
}

#mission-check:checked ~ .mission-btn .mission-start {
  display: none;
}

/* remove btn */

div.remove-container {
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--color-black);
  border-radius: 50px;
  height: 1em;
  width: 1em;
}

#btn-r-1,
#btn-r-2 {
  text-align: center;
  width: 12px;
  height: 1px;
  background-color: var(--color-black);
  border-radius: 15px;
}


#btn-r-1 {
  transform: translate(-50%, -50%);
  transform: rotate(-45deg) translate(-4px, 7px);
  -webkit-transform: rotate(-45deg) translate(-4px, 7px);
  -moz-transform: rotate(-45deg) translate(-4px, 7px);
}

#btn-r-2 {
  transform: rotate(45deg) translate(6px, 3px);
  -webkit-transform: rotate(45deg) translate(6px, 3px);
  -moz-transform: rotate(45deg) translate(6px, 3px);
}
