.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-white);
  padding: .275em 4em;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;

}

.btn:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  padding: .275em 4em;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;
}

.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

.btn-accent {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;
}

.btn-accent:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-white);
}

.btn-accent-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  transition: all 3 00ms linear;
  -webkit-transition: all 3 00ms linear;
  -moz-transition: all 3 00ms linear;
}

.btn-accent-ghost:hover {
  background-color: transparent;
  border-color: var(--color-primary-dark);
  color: var(--color-primary-dark);
}
