.flag-optional {
  color: var(--color-secondary-dark);
}

input {
  var(--color-primary-light);
  background-color: none;
}

input:invalid,
input[type="checkbox"]:invalid + label::before {
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: var(--color-dark-gray);
  background: transparent;
}

.round-field,
.round-field:invalid {
  border-top: 2px solid var(--color-dark-gray);
  border-bottom: 2px solid var(--color-dark-gray);
  border-left: 2px solid var(--color-dark-gray);
  border-right: 2px solid var(--color-dark-gray);
  border-radius: 15px;
  background: transparent;
}

#time {
  border-top: none;
  border-left: none;
  border-right: none;
}

.array {
  background-color: var(--color-neutral-beige);
}

.error-message {
  display: none;
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.error-message-highlighted {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.error-message:first-child,
input:invalid + .error-message,
input:invalid + label + .error-message {
  display: block;
}


/* -- ratings -- */

.rating input[type="radio"] ~ label {
  display: inline-block;
}

.rating svg {
  fill: none;
  stroke: var(--color-primary);
}

#rating-one[type="radio"]:checked ~ [for="rating-one"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-two[type="radio"]:checked ~ [for="rating-one"] svg,
#rating-two[type="radio"]:checked ~ [for="rating-two"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-three[type="radio"]:checked ~ [for="rating-one"] svg,
#rating-three[type="radio"]:checked ~ [for="rating-two"] svg,
#rating-three[type="radio"]:checked ~ [for="rating-three"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-four[type="radio"]:checked ~ [for="rating-one"] svg,
#rating-four[type="radio"]:checked ~ [for="rating-two"] svg,
#rating-four[type="radio"]:checked ~ [for="rating-three"] svg,
#rating-four[type="radio"]:checked ~ [for="rating-four"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-five[type="radio"]:checked ~ [for="rating-one"] svg,
#rating-five[type="radio"]:checked ~ [for="rating-two"] svg,
#rating-five[type="radio"]:checked ~ [for="rating-three"] svg,
#rating-five[type="radio"]:checked ~ [for="rating-four"] svg,
#rating-five[type="radio"]:checked ~ [for="rating-five"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-one[type="radio"]:hover ~ [for="rating-one"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-two[type="radio"]:hover ~ [for="rating-one"] svg,
#rating-two[type="radio"]:hover ~ [for="rating-two"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-three[type="radio"]:hover ~ [for="rating-one"] svg,
#rating-three[type="radio"]:hover ~ [for="rating-two"] svg,
#rating-three[type="radio"]:hover ~ [for="rating-three"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-four[type="radio"]:hover ~ [for="rating-one"] svg,
#rating-four[type="radio"]:hover ~ [for="rating-two"] svg,
#rating-four[type="radio"]:hover ~ [for="rating-three"] svg,
#rating-four[type="radio"]:hover ~ [for="rating-four"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

#rating-five[type="radio"]:hover ~ [for="rating-one"] svg,
#rating-five[type="radio"]:hover ~ [for="rating-two"] svg,
#rating-five[type="radio"]:hover ~ [for="rating-three"] svg,
#rating-five[type="radio"]:hover ~ [for="rating-four"] svg,
#rating-five[type="radio"]:hover ~ [for="rating-five"] svg {
  fill: var(--color-primary);
  stroke: var(--color-primary-dark);
}

/* -- end ratings -- */

/* checkbox */

[type="checkbox"] + label::before  {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border-color: var(--color-light-gray);
}

[type="checkbox"]:checked + label::before {
  border-color: var(--color-secondary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%2362deaf' stroke-miterlimit='10' stroke-width='50' d='M49.9 130.1l50.8 50.7L206.1 75.2'/%3E%3C/svg%3E");
}
