<div class="inline pad-b">
  <div class="grid text-left">
    <div class="{% if include.singleLine %} unit [ xs-1 s-1 m-1 l-1 ] {% else %} unit [ xs-1 s-1-4 m-1-4 l-1-4 ]{% endif %}">
      <label for="name">{{include.formText | default:"Username"}}</label>
    </div>
    <div class="{% if include.singleLine %} unit [ xs-1 s-1 m-1 l-1 ] {% else %} unit [ xs-1 s-3-4 m-3-4 l-3-4 ]{% endif %}">
      <input type="text" id="name" {% if include.fieldClass %} class="{{include.fieldClass}}"{% endif %} required aria-describedby="name-error">
    </div>
  </div>
  <div class="error-message push island-1-4" role="alert" aria-live="assertive">
    <p class="push-0 normal mega">
      <i class="icon i-32"><svg><use xlink:href="images/icons.svg#error" /></svg></i>
      <span class="icon-label">Please provide a name</span>
    </p>
  </div>
</div>
