.remove-cover,
.completed-recipe-cover  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-dark-gray);
}

.remove-card,
.completed-recipe-card  {
  background-color: var(--color-white);
}

.profile-card .profile-container {
  height: 7em;
  width: 7em;
  overflow: hidden;
  border-radius: 10px;
}

.profile-card .profile-container img {
  width: 7em;
  height: inherit;
  object-fit: cover;
}

.recently-border {
  background-color: var(--color-neutral-beige);
  border-radius: 15px;
}

.recently-border a {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.recently-viewed-img {
  width: 4em;
  height: 4em;
  object-fit: cover;
}


.bookmark-img {
  /* width: 15em; */
  height: 16em;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.bookmark-img img{
  width: 16em;
  height: inherit;
  object-fit: cover;
}

.profile-card .profile-container img {
  width: 7em;
  height: inherit;
  object-fit: cover;
}

.book-icon-card {
  border-radius: 0 0 10px 10px;
  background-color: var(--color-neutral-beige);
}

.bookmark-container svg {
  stroke: var(--color-black);
  fill: none;
}

.steps-title,
.steps-text {
  color: var(--color-light-gray);
}

.steps-border {
  border: 2px solid var(--color-light-gray);
  border-radius: 25px;
}

.pin-check {
  right: 1em;
  top: 1em;
}

#mission-check:checked ~ section .step .pin-check::before  {
  border-color: var(--color-dark-gray);
}

#mission-check:checked ~ section .step .steps-border {
  border-color: var(--color-dark-gray);
}

#mission-check:checked ~ section .step .steps-title {
  color: var(--color-dark-gray);
}

#mission-check:checked ~ section .step .steps-text {
  color: var(--color-black);
}

.pin-check:checked ~ .steps-border {
  border-color: var(--color-secondary) !important;
}

.pin-check:checked ~ .pin-check::before {
  border-color: var(--color-secondary) !important;
}
