<div>
  <div class="grid">
    <div class="unit [ xs-3-4 s-3-4 m-3-4 l-3-4 xl-1-4 ] ">
      <h3 class="upper normal push-0">Ingredients</h3>
    </div>
    <div class="unit [ xs-1-4 s-1-4 m-1-4 l-1-4 xl-1-4 ] text-right">
      <input type="checkbox" id="bookmark-{{include.id}}" name="bookmark" {% if include.adChecked %}{{include.adChecked}} onclick='window.location.assign('/remove-bookmark/')' {% endif %}/>
      <label class="hide-custom-input bookmark-container" for="bookmark-{{include.id}}"><i class="icon i-32"><svg><use xlink:href="/images/icons.svg#saved-recipes"></use></svg></i></label>
      <style>
        #bookmark-{{forloop.index}}[type="checkbox"]:checked ~ [for="bookmark-{{forloop.index}}"] svg {
          fill: var(--color-black);
          stroke: var(--color-black);
        }
      </style>
    </div>
    <div class="unit [ xs-1 s-1 m-1 l-1 xl-1 ] ">
      <ul class="list-group push-0">
        {% for ing in include.ingredients %}
          <li>{{ing}}</li>
        {% endfor %}
      </ul>
    </div>

  </div>

</div>
