<input type="checkbox" id="hamburger" class="hide-custom-input">
<label class="hamburger island" for="hamburger">
  <div id="one"></div>
  <div id="two"></div>
  <div id="three"></div>
</label>
<header class="neutral-bg gutter text-center pad-t-2 pad-b nav-bar">
  <a href="/index/" class=" push logo-space">
    <i class="icon i-64 logo">
      <svg><use xlink:href="/images/icons.svg#logo"></use></svg>
    </i>
    <span class="block mega black-text">Eat in</span>
  </a>
  <nav>
    <ul class="list-group text-center">
      <li class="pad-t-1-2 pad-b-1-2">
        <a href="/dashboard/"><i class="icon i-32 nav-btn {% if page.url contains 'dashboard' %} current {% endif %}"><svg><use xlink:href="/images/icons.svg#dashboard"></use></svg></i></a>
        <span class="nav-des nano block">Dashboard</span>
      </li>
      <li class="pad-t-1-2 pad-b-1-2">
        <a href="/builder/"><i class="icon i-32 nav-btn {% if page.url contains 'builder' %} current {% endif %}"><svg><use xlink:href="/images/icons.svg#recipe-builder"></use></svg></i></a>
        <span class="nav-des nano block">Recipe<br>Builder</span>
      </li>
      <li class="pad-t-1-2 pad-b-1-2">
        <a href="/recipe-book/"><i class="icon i-32 nav-btn {% if page.url contains 'recipe-book' or page.url contains 'recipe' %} current {% endif %}"><svg><use xlink:href="/images/icons.svg#recipe-book"></use></svg></i></a>
        <span class="nav-des nano block">Recipe<br>Book</span>
      </li>
      <li class="pad-t-1-2 pad-b-1-2">
        <a href="/saved/"><i class="icon i-32 nav-btn {% if page.url contains 'saved' %} current {% endif %}"><svg><use xlink:href="/images/icons.svg#saved-recipes"></use></svg></i></a>
        <span class="nav-des nano block">Saved<br>Recipe</span>
      </li>
    </ul>
  </nav>

  <a class="profile-container block" href="#">
    <img class="img-flex" src="/images/hailey.jpg" alt="">
  </a>

</header>
