header {
  z-index: 4;
}

.nav-bar {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: -6em;
  width: 6em;
}

.logo svg {
  fill: var(--color-primary);
}

.nav-bar nav {
  margin-bottom: auto;
}

.nav-btn svg {
  fill: var(--color-neutral-beige);
  stroke: var(--color-black);
}

.profile-container {
  width: 60px;
  border-radius: 500px;
}

.nav-btn.current svg {
  stroke: var(--color-secondary);
}

.nav-btn:hover svg {
  stroke: var(--color-primary);
}

.nav-des {
  display: none;
}

.logo-space {
  padding-top: 2.8rem;
}

/* toggle */
.hamburger {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  z-index: 6;
  left: 1em;
}

#one,
#two,
#three {
  text-align: center;
  width: 30px;
  height: 2px;
  background-color: var(--color-black);
  border-radius: 15px;
  margin: .5em 0;
  transition: all 200ms linear;
}

#hamburger:checked ~ .hamburger #one {
  transform: rotate(-45deg) translate(-6px, 6px);
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  -moz-transform: rotate(-45deg) translate(-6px, 6px);
}

#hamburger:checked ~ .hamburger #two {
  opacity: 0;
}

#hamburger:checked ~ .hamburger #three {
  transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -moz-transform: rotate(45deg) translate(-8px, -8px);
}


#hamburger:checked ~ .hamburger #one,
#hamburger:checked ~ .hamburger #two,
#hamburger:checked ~ .hamburger #three {
  text-align: center;
  width: 30px;
  height: 2px;
}

#hamburger:checked ~ .nav-bar {
  left: 0;
}


@media only screen and (min-width: 40em) {

  .nav-bar {
    left: 0;
    width: 8em;
  }

  .nav-des {
    display: block;
  }
  .profile-container {
    width: 80px;
  }

  .logo-space {
    padding-top: 0;
    padding-bottom: 2.8rem;
  }

  .hamburger {
    position: absolute;
    top: -500000px;
    display: none;
  }

  #one,
  #two,
  #three {
  display: none;
  }

}
